{% comment %} <svg
  class="icon icon-cart-empty"
  aria-hidden="true"
  focusable="false"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0 0 40 40"
  fill="none"
>
  <path d="m15.75 11.8h-3.16l-.77 11.6a5 5 0 0 0 4.99 5.34h7.38a5 5 0 0 0 4.99-5.33l-.78-11.61zm0 1h-2.22l-.71 10.67a4 4 0 0 0 3.99 4.27h7.38a4 4 0 0 0 4-4.27l-.72-10.67h-2.22v.63a4.75 4.75 0 1 1 -9.5 0zm8.5 0h-7.5v.63a3.75 3.75 0 1 0 7.5 0z" fill="currentColor" fill-rule="evenodd"/>
</svg>
 <svg  class="icon icon-cart-empty" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 21.5">
  <title>Shopping Bag</title>
  <path d="M17,4.5v-1.5c0-.8-.31-1.55-.88-2.12s-1.32-.88-2.12-.88h-4c-.8,0-1.55,.31-2.12,.88s-.88,1.32-.88,2.12v1.5H0V21.5H24V4.5h-7Zm-8.5-1.5c0-.4,.16-.78,.44-1.06,.28-.28,.66-.44,1.06-.44h4c.4,0,.78,.16,1.06,.44,.28,.28,.44,.66,.44,1.06v1.5h-7v-1.5Zm14,17H1.5V6H22.5v14Z"></path>
</svg>

<svg class="icon icon-cart-empty" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_2005_19446)">
<path fill-rule="evenodd" clip-rule="evenodd" d="M7 21C7 19.8954 7.89545 19 9 19C10.1046 19 11 19.8954 11 21C11 22.1046 10.1046 23 9 23C7.89545 23 7 22.1046 7 21ZM18 21C18 19.8954 18.8954 19 20 19C21.1046 19 22 19.8954 22 21C22 22.1046 21.1046 23 20 23C18.8954 23 18 22.1046 18 21Z" fill="#F4F4F4"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M0 1C0 0.447715 0.447715 0 1 0H5C5.47663 0 5.88701 0.336385 5.98055 0.803743L8.66084 14.1952C8.70657 14.4254 8.83181 14.6322 9.01457 14.7793C9.19744 14.9265 9.42624 15.0047 9.66083 15.0002L9.68 15H19.4L19.4192 15.0002C19.6537 15.0047 19.8825 14.9265 20.0655 14.7792C20.2474 14.6328 20.3723 14.4272 20.4185 14.1984C20.4187 14.1974 20.4189 14.1963 20.4191 14.1953L22.0177 5.81267C22.1212 5.27016 22.6448 4.91424 23.1873 5.0177C23.7298 5.12116 24.0858 5.64482 23.9823 6.18733L22.3809 14.5847C22.2438 15.2754 21.868 15.8958 21.3196 16.3373C20.7739 16.7764 20.0917 17.011 19.3914 17H9.68861C8.9883 17.011 8.30617 16.7765 7.76052 16.3373C7.2122 15.896 6.83659 15.2758 6.69931 14.5856C6.69926 14.5853 6.69936 14.5858 6.69931 14.5856L4.18032 2H1C0.447715 2 0 1.55228 0 1Z" fill="#F4F4F4"/>
</g>
<defs>
<clipPath id="clip0_2005_19446">
<rect width="24" height="24" fill="white"/>
</clipPath>
</defs>
</svg>

 <svg  class="icon icon-cart-empty" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 21.5">
  <title>Shopping Bag</title>
  <path d="M17,4.5v-1.5c0-.8-.31-1.55-.88-2.12s-1.32-.88-2.12-.88h-4c-.8,0-1.55,.31-2.12,.88s-.88,1.32-.88,2.12v1.5H0V21.5H24V4.5h-7Zm-8.5-1.5c0-.4,.16-.78,.44-1.06,.28-.28,.66-.44,1.06-.44h4c.4,0,.78,.16,1.06,.44,.28,.28,.44,.66,.44,1.06v1.5h-7v-1.5Zm14,17H1.5V6H22.5v14Z"></path>
</svg>
 {% endcomment %}
<svg class="icon icon-cart-empty" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M4 6H20V20C20 20.5523 19.5523 21 19 21H5C4.44771 21 4 20.5523 4 20V6Z" stroke="white" stroke-width="2"/><path d="M15 5.5V3.5C15 2.39543 14.1046 1.5 13 1.5H11C9.89543 1.5 9 2.39543 9 3.5V5.5" stroke="white" stroke-width="2"/></svg>

