<div id="afterpay-modal-container" class="modal-container">
  <div id="afterpay-modal-modal" class="ap-modal-modal" style="display:none;">
    <span id="afterpay-afterpay-modal-close" class="afterpay-modal-close">
      <a class="o-modal__close-icon">
        <div class="afterpay-close">
        <svg width="20px" height="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18" class="afterpay-o-modal__close-svg">
          <title id="close-svg-title">Close</title>
          <rect x="-3.29308" y="8.98556" width="24.58615" height="0.86969" transform="translate(-4.0252 9.12314) rotate(-45)"></rect>
          <rect x="8.56515" y="-2.87267" width="0.86969" height="24.58615" transform="translate(-4.0252 9.12314) rotate(-45)"></rect>
        </svg>
        </div>
      </a>
    </span>
  <div id="afterpay-modal-content" class="ap-modal-content" style="display: none;">
    <div class="afterpay_modal_wrapper">
      <div class="grid-container">
        <div class="row-0">
          <div class="afterpay-modal-logo">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="360 307 1150 225" class="afterpay-logo-black" aria-label="Afterpay logo black">
              <path d="M1492 353.5l-34.6-19.8-35.1-20.1c-23.2-13.3-52.2 3.4-52.2 30.2v4.5c0 2.5 1.3 4.8 3.5 6l16.3 9.3c4.5 2.6 10.1-.7 10.1-5.9V347c0-5.3 5.7-8.6 10.3-6l32 18.4 31.9 18.3c4.6 2.6 4.6 9.3 0 11.9l-31.9 18.3-32 18.4c-4.6 2.6-10.3-.7-10.3-6V415c0-26.8-29-43.6-52.2-30.2l-35.1 20.1-34.6 19.8c-23.3 13.4-23.3 47.1 0 60.5l34.6 19.8 35.1 20.1c23.2 13.3 52.2-3.4 52.2-30.2v-4.5c0-2.5-1.3-4.8-3.5-6l-16.3-9.3c-4.5-2.6-10.1.7-10.1 5.9v10.7c0 5.3-5.7 8.6-10.3 6l-32-18.4-31.9-18.3c-4.6-2.6-4.6-9.3 0-11.9l31.9-18.3 32-18.4c4.6-2.6 10.3.7 10.3 6v5.3c0 26.8 29 43.6 52.2 30.2l35.1-20.1L1492 414c23.3-13.5 23.3-47.1 0-60.5zM1265 360.1l-81 167.3h-33.6l30.3-62.5-47.7-104.8h34.5l30.6 70.2 33.4-70.2h33.5zM455.1 419.5c0-20-14.5-34-32.3-34s-32.3 14.3-32.3 34c0 19.5 14.5 34 32.3 34s32.3-14 32.3-34m.3 59.4v-15.4c-8.8 10.7-21.9 17.3-37.5 17.3-32.6 0-57.3-26.1-57.3-61.3 0-34.9 25.7-61.5 58-61.5 15.2 0 28 6.7 36.8 17.1v-15h29.2v118.8h-29.2zM626.6 452.5c-10.2 0-13.1-3.8-13.1-13.8V386h18.8v-25.9h-18.8v-29h-29.9v29H545v-11.8c0-10 3.8-13.8 14.3-13.8h6.6v-23h-14.4c-24.7 0-36.4 8.1-36.4 32.8v15.9h-16.6V386h16.6v92.9H545V386h38.6v58.2c0 24.2 9.3 34.7 33.5 34.7h15.4v-26.4h-5.9zM734 408.8c-2.1-15.4-14.7-24.7-29.5-24.7-14.7 0-26.9 9-29.9 24.7H734zm-59.7 18.5c2.1 17.6 14.7 27.6 30.7 27.6 12.6 0 22.3-5.9 28-15.4h30.7c-7.1 25.2-29.7 41.3-59.4 41.3-35.9 0-61.1-25.2-61.1-61.1 0-35.9 26.6-61.8 61.8-61.8 35.4 0 61.1 26.1 61.1 61.8 0 2.6-.2 5.2-.7 7.6h-91.1zM956.5 419.5c0-19.2-14.5-34-32.3-34-17.8 0-32.3 14.3-32.3 34 0 19.5 14.5 34 32.3 34 17.8 0 32.3-14.7 32.3-34m-94.1 107.9V360.1h29.2v15.4c8.8-10.9 21.9-17.6 37.5-17.6 32.1 0 57.3 26.4 57.3 61.3s-25.7 61.5-58 61.5c-15 0-27.3-5.9-35.9-15.9v62.5h-30.1zM1091.7 419.5c0-20-14.5-34-32.3-34-17.8 0-32.3 14.3-32.3 34 0 19.5 14.5 34 32.3 34 17.8 0 32.3-14 32.3-34m.3 59.4v-15.4c-8.8 10.7-21.9 17.3-37.5 17.3-32.6 0-57.3-26.1-57.3-61.3 0-34.9 25.7-61.5 58-61.5 15.2 0 28 6.7 36.8 17.1v-15h29.2v118.8H1092zM809.7 371.7s7.4-13.8 25.7-13.8c7.8 0 12.8 2.7 12.8 2.7v30.3s-11-6.8-21.1-5.4c-10.1 1.4-16.5 10.6-16.5 23v70.3h-30.2V360.1h29.2v11.6z"></path>
            </svg>
          </div>
        </div>
        <div class="row-1">
          <h3 class="afterpay-modal-headline">
            Shop now. <span>Pay later.</span>
          </h3>
          <h3 class="afterpay-modal-headline">
            Always interest-free.
          </h3>
        </div>
        <div class="process-step-1 process">
          <div class="process-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" aria-label="shopping cart" viewBox="24 14 52 72" class="process-icon shopping-cart"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><path class="cls-1" d="M50,69.47a27.28,27.28,0,0,1-4-3c-2.13-1.87-4.52-4.49-4.44-7.36a5,5,0,0,1,.37-1.75,4.27,4.27,0,0,1,8.13.25,4.27,4.27,0,0,1,8.13-.25,5,5,0,0,1,.37,1.75c.08,2.87-2.31,5.49-4.44,7.36a27.28,27.28,0,0,1-4,3"></path><path class="cls-1" d="M34.5,49V31a15.5,15.5,0,0,1,31,0V49"></path><path class="cls-1" d="M25,35H70.79A4.21,4.21,0,0,1,75,39.21V79.79A4.21,4.21,0,0,1,70.79,84H25a0,0,0,0,1,0,0V35A0,0,0,0,1,25,35Z" transform="translate(109.5 9.5) rotate(90)"></path></svg>
          </div>
          <p class="process-subheading">
            Add your<br>
            favorites to cart
          </p>
        </div>
        <div class="process-step-2 process">
          <div class="process-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" aria-label="Afterpay laptop" viewBox="9 24 82 56" class="process-icon afterpay-desktop"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><line class="cls-1" x1="45.5" y1="76.49" x2="54.5" y2="76.49"></line><path class="cls-1" d="M19.43,25.5H80.57a3.93,3.93,0,0,1,3.93,3.93V74.5a0,0,0,0,1,0,0h-69a0,0,0,0,1,0,0V29.43A3.93,3.93,0,0,1,19.43,25.5Z"></path><path d="M63.75,41.52,59.3,39l-4.51-2.59a4.48,4.48,0,0,0-6.71,3.89v.58a.89.89,0,0,0,.44.77l2.1,1.2a.86.86,0,0,0,1.3-.75V40.69a.89.89,0,0,1,1.33-.77l4.12,2.37,4.11,2.36a.88.88,0,0,1,0,1.53l-4.11,2.36L53.25,50.9a.88.88,0,0,1-1.33-.76v-.69a4.48,4.48,0,0,0-6.71-3.89L40.7,48.15,36.25,50.7a4.49,4.49,0,0,0,0,7.78L40.7,61l4.51,2.59a4.48,4.48,0,0,0,6.71-3.89v-.58a.88.88,0,0,0-.44-.77l-2.1-1.2a.86.86,0,0,0-1.3.75v1.38a.89.89,0,0,1-1.33.77l-4.12-2.37-4.11-2.36a.88.88,0,0,1,0-1.53l4.11-2.36,4.12-2.36a.88.88,0,0,1,1.33.76v.69a4.48,4.48,0,0,0,6.71,3.89l4.51-2.59,4.45-2.55A4.49,4.49,0,0,0,63.75,41.52Z"></path><rect class="cls-1" x="10.5" y="74.49" width="79" height="4" rx="2"></rect></svg>
            <svg xmlns="http://www.w3.org/2000/svg" aria-label="Afterpay mobile" viewBox="24 9 52 82" class="process-icon afterpay-mobile"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><rect class="cls-1" x="10.5" y="25.5" width="79" height="49" rx="4.21" transform="translate(100 0) rotate(90)"></rect><line class="cls-1" x1="25.49" y1="19.5" x2="74.49" y2="19.5"></line><line class="cls-1" x1="25.49" y1="84.5" x2="74.49" y2="84.5"></line><line class="cls-1" x1="45.49" y1="15.5" x2="54.49" y2="15.5"></line><path d="M63.75,41.52,59.3,39l-4.51-2.59a4.48,4.48,0,0,0-6.71,3.89v.58a.89.89,0,0,0,.44.77l2.1,1.2a.86.86,0,0,0,1.3-.75V40.69a.89.89,0,0,1,1.33-.77l4.12,2.37,4.11,2.36a.88.88,0,0,1,0,1.53l-4.11,2.36L53.25,50.9a.88.88,0,0,1-1.33-.76v-.69a4.48,4.48,0,0,0-6.71-3.89L40.7,48.15,36.25,50.7a4.49,4.49,0,0,0,0,7.78L40.7,61l4.51,2.59a4.48,4.48,0,0,0,6.71-3.89v-.58a.88.88,0,0,0-.44-.77l-2.1-1.2a.86.86,0,0,0-1.3.75v1.38a.89.89,0,0,1-1.33.77l-4.12-2.37-4.11-2.36a.88.88,0,0,1,0-1.53l4.11-2.36,4.12-2.36a.88.88,0,0,1,1.33.76v.69a4.48,4.48,0,0,0,6.71,3.89l4.51-2.59,4.45-2.55A4.49,4.49,0,0,0,63.75,41.52Z"></path></svg>
          </div>
          <p class="process-subheading">
            Select Afterpay<br>
            at checkout
          </p>
        </div>
        <div class="process-step-3 process">
          <div class="process-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" aria-label="sign up laptop" viewBox="9 24 82 56" class="process-icon sign-up-desktop"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><polyline class="cls-1" points="61.51 52.12 65.94 56.57 74.5 47.99"></polyline><circle class="cls-1" cx="40" cy="50" r="14.5"></circle><circle class="cls-1" cx="40" cy="45.8" r="6.09"></circle><path class="cls-1" d="M29.92,60.42a8.43,8.43,0,0,1,8-5.8h4.2a8.45,8.45,0,0,1,8,5.79"></path><line class="cls-1" x1="45.5" y1="76.49" x2="54.5" y2="76.49"></line><path class="cls-1" d="M19.43,25.5H80.57a3.93,3.93,0,0,1,3.93,3.93V74.5a0,0,0,0,1,0,0h-69a0,0,0,0,1,0,0V29.43A3.93,3.93,0,0,1,19.43,25.5Z"></path><rect class="cls-1" x="10.5" y="74.49" width="79" height="4" rx="2"></rect></svg>
            <svg xmlns="http://www.w3.org/2000/svg" aria-label="sign up mobile" viewBox="24 9 52 82" class="process-icon sign-up-mobile"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><rect class="cls-1" x="10.5" y="25.5" width="79" height="49" rx="4.21" transform="translate(100) rotate(90)"></rect><polyline class="cls-1" points="45.45 67.06 49.88 71.51 58.44 62.93"></polyline><line class="cls-1" x1="25.49" y1="19.5" x2="74.49" y2="19.5"></line><line class="cls-1" x1="25.49" y1="84.5" x2="74.49" y2="84.5"></line><line class="cls-1" x1="45.49" y1="15.5" x2="54.49" y2="15.5"></line><circle class="cls-1" cx="50" cy="43" r="14.5"></circle><circle class="cls-1" cx="50" cy="38.8" r="6.09"></circle><path class="cls-1" d="M39.92,53.42a8.43,8.43,0,0,1,8-5.8h4.2a8.45,8.45,0,0,1,8,5.79"></path></svg>
          </div>
          <p class="process-subheading">
            Log into or create<br>
            your Afterpay account,<br>
            instant approval decision
          </p>
        </div>
        <div class="process-step-4 process">
          <div class="process-icon-container">
            <svg xmlns="http://www.w3.org/2000/svg" aria-label="four payments" viewBox="14 7 79 79" class="process-icon four-payments"><defs><style>.cls-1{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}</style></defs><path class="cls-1" d="M50,15.5A34.5,34.5,0,0,0,15.5,50H50Z"></path><path class="cls-1" d="M15.5,50A34.5,34.5,0,0,0,50,84.5V50Z"></path><path class="cls-1" d="M50,84.5h0A34.5,34.5,0,0,0,84.5,50H50Z"></path><path class="cls-1" d="M57,8.5h0V43h34.5A34.5,34.5,0,0,0,57,8.5Z"></path></svg>
          </div>
          <p class="process-subheading">
            Your purchase will be<br>
            split into 4 payments,<br>
            payable every 2 weeks
          </p>
        </div>
        <div class="row-3">
          <p class="disclaimer">
            You must be over 18, a resident of the U.S. and meet additional eligibility criteria to qualify. Late fees may apply. Estimated payment amounts shown on product pages exclude taxes and shipping charges, which are added at checkout. Click <a href="https://www.afterpay.com/purchase-payment-agreement" aria-label="Afterpay Terms (New Window)" target="_blank" class="disclaimer-link">here</a> for complete terms.
            <span class="loan-agreement">Loans to California residents made or arranged pursuant to a California Finance Lenders Law license.</span>
            <span>© 2020 Afterpay</span>
          </p>
        </div>
      </div>
    </div>
      
    <style type="text/css">
        :-moz-ui-invalid:not(output) {
          box-shadow: none;
        }
      
        /* :root {
            font-size:32px;
          } */
      
        /* #afterpay-modal-modal :root{
            font-size: 10px;
          } */
    
        @font-face {
          font-family: 'Italian Plate No2 Expanded';
          src: url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Regular.eot');
          src: url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Regular.eot?#iefix') format('embedded-opentype'), url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Regular.woff2') format('woff2'), url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Regular.woff') format('woff');
          font-weight: 400;
          font-style: normal;
        }
    
        @font-face {
          font-family: 'Italian Plate No2 Expanded';
          src: url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Demibold.eot');
          src: url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Demibold.eot?#iefix') format('embedded-opentype'), url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Demibold.woff2') format('woff2'), url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Demibold.woff') format('woff');
          font-weight: 600;
          font-style: normal;
        }
    
        @font-face {
          font-family: 'Italian Plate No2 Expanded';
          src: url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Bold.eot');
          src: url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Bold.eot?#iefix') format('embedded-opentype'), url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Bold.woff2') format('woff2'), url('https://static.afterpay.com/font/ItalianPlateNo2Expanded-Bold.woff') format('woff');
          font-weight: 700;
          font-style: normal;
        }
      
        .afterpay_modal_wrapper * {
          box-sizing: border-box !important;
          text-decoration: none !important;
          background: #b2fce4 !important;
          font-family: 'Italian Plate No2 Expanded', sans-serif !important;
          color: #000 !important;
        }
      
        #afterpay-modal-modal {
          overflow-y: auto !important;
          top: 50% !important;
          left: 50% !important;
          width: 80% !important;
          max-width: 75% !important;
          height: auto !important;
          -webkit-transform: translate(-50%, -50%) !important;
          transform: translate(-50%, -50%) !important;
          -webkit-font-smoothing: antialiased !important;
          border-radius: 0 !important;
          background: #b2fce4 !important;
        }
    
        .afterpay_modal_wrapper .grid-container .row-0{ grid-area: header;}
        .afterpay_modal_wrapper .grid-container .row-1{ grid-area: main;}
        .afterpay_modal_wrapper .grid-container .svg-1{ grid-area: svg1;}
        .afterpay_modal_wrapper .grid-container .svg-2{ grid-area: svg2;}
        .afterpay_modal_wrapper .grid-container .svg-3{ grid-area: svg3;}
        .afterpay_modal_wrapper .grid-container .svg-4{ grid-area: svg4;}
        .afterpay_modal_wrapper .grid-container .row-3{ grid-area: footer; }
    
        .afterpay_modal_wrapper .grid-container{
          text-align: center !important;
          padding: 15px !important;
          display: grid;
          grid-template-rows: auto;
          grid-template-columns: repeat(4, 25%);
          grid-template-areas: 
            "header header header header"
            "main main main main"
            "process-step-1 process-step-2 process-step-3 process-step-4"
            "footer footer footer footer";
        }
    
        .afterpay_modal_wrapper .grid-container > div{
          align-content: stretch !important;
          min-height: 15vh !important;
        }
    
        .afterpay_modal_wrapper .grid-container .row-0 .afterpay-modal-logo .afterpay-logo-black {
          display: block !important;
          width: 275px !important;
          height: auto !important;
          margin-top: 45px !important;
          margin-left: auto !important;
          margin-right: auto !important;
        }
    
        .afterpay_modal_wrapper .grid-container .row-1 {
          padding-top: 15px !important;
        }
    
        .afterpay_modal_wrapper .grid-container .row-1 h3.afterpay-modal-headline {
          font-size: 44px !important;
          font-weight: 600 !important;
          margin: 0 !important;
          text-align: center !important;
          line-height: 1.1 !important;
          letter-spacing: normal !important;
          color: #000 !important;
          text-transform: none !important;
        }
    
        .afterpay_modal_wrapper .grid-container .process .process-icon-container {
          height: 125px !important;
        }
    
        .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.process-icon {
          width: 110px !important;
          height: auto !important;
          max-height: 95px !important;
          min-height: 75px !important;
        }
    
        .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.shopping-cart,
        .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.four-payments {
          margin-top: 30px !important;
        }
    
        .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.afterpay-desktop,
        .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.sign-up-desktop {
          margin-top: 50px !important;
        }
    
        .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.afterpay-mobile,
        .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.sign-up-mobile{
          display: none !important;
        }
    
        .afterpay_modal_wrapper .grid-container .process p.process-subheading {
          font-weight: 600 !important;
          font-size: 16px !important;
          line-height: 1.25 !important;
          letter-spacing: normal !important;
          margin-top: 20px !important;
          color: #000 !important;
        }
    
        .afterpay_modal_wrapper .grid-container > div.row-3 {
          margin-top: 25px !important;
        }
    
        .afterpay_modal_wrapper .grid-container > div.row-3 p.disclaimer {
          font-size: 12px !important;
          font-weight: 400 !important;
          max-width: 80% !important;
          margin-left: auto !important;
          margin-right: auto !important;
          line-height: 1.1 !important;
          letter-spacing: normal !important;
          color: #000 !important;
        }
    
        .afterpay_modal_wrapper .grid-container > div.row-3 p.disclaimer span {
          display: block !important;
        }
    
        .afterpay_modal_wrapper .grid-container > div.row-3 p.disclaimer span.loan-agreement {
          margin-top: 10px !important;
          margin-bottom: 5px !important;
        }
    
        @media (min-width: 1000px) {
          #afterpay-modal-modal {
            max-width: 774px !important;
          }
        }
      
        @media (max-width: 768px) {
          #afterpay-modal-modal {
            min-height: 100%;
            min-width: 100%;
            max-height: 50%;
            padding-bottom: 5.5rem !important;
          }
        }
      
        @media (max-height: 650px) {
          #afterpay-modal-modal {
            min-height: 100%;
            min-width: 100%;
            max-height: 50%;
            padding-bottom: 5.5rem;
          }
        }
    
        /* Mobile styling */
        @media only screen and (max-width:770px){
          .afterpay_modal_wrapper .grid-container{
            grid-template-columns: auto;
            grid-template-areas: 
                "header"
                "main"
                "svg1"
                "svg2" 
                "svg3"
                "svg4"
                "footer";
            text-align: left !important;
            padding: 30px !important;
          }
    
          .afterpay_modal_wrapper .grid-container > div {
            min-height: 12vh !important;
          }
    
          .afterpay_modal_wrapper .grid-container .row-0 .afterpay-modal-logo .afterpay-logo-black {
            display: block !important;
            width: 300px !important;
            height: auto !important;
            margin-left: 0 !important;
            margin-right: auto !important;
          }
    
          .afterpay_modal_wrapper .grid-container .row-1 {
            padding-top: 2em !important;
          }
    
          .afterpay_modal_wrapper .grid-container .row-1 h3.afterpay-modal-headline {
            font-size: 3.2em !important;
            text-align: left !important;
          }
    
          .afterpay_modal_wrapper .grid-container .row-1 h3.afterpay-modal-headline span {
            display: block !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process {
            display: flex !important;
            margin-top: 15px !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process-step-1 {
            margin-top: 40px !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process .process-icon-container {
            display: flex !important;
            flex-direction: row !important;
            vertical-align: middle !important;
            margin-right: 20px !important;
            height: 105px !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.process-icon {
            width: 120px !important;
            height: 85px !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.afterpay-desktop,
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.sign-up-desktop {
            display: none !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.afterpay-mobile,
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.sign-up-mobile {
            display: block !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.shopping-cart,
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.four-payments {
            margin-top: 0 !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.afterpay-desktop,
          .afterpay_modal_wrapper .grid-container .process .process-icon-container svg.sign-up-desktop {
            margin-top: 0 !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process p.process-subheading {
            margin-top: 25px !important;
            font-size: 15px !important;
          }
    
          .afterpay_modal_wrapper .grid-container .process-step-3.process p.process-subheading,
          .afterpay_modal_wrapper .grid-container .process-step-4.process p.process-subheading {
            margin-top: 15px !important;
          }
    
    
          .afterpay_modal_wrapper .grid-container > div.row-3 {
            margin-top: 15px !important;
          }
    
          .afterpay_modal_wrapper .grid-container > div.row-3 p.disclaimer {
            max-width: 100% !important;
            margin-top: 25px !important;
          }
        }
    
        .disclaimer-link {
          color: #000 !important;
          text-decoration: underline !important;
        }
    
        .disclaimer-link:active {
          color: #000 !important;
        }
      
      </style>
      
    </div></div></div>